<!DOCTYPE html>

<html>
  <head>
    <title> Discover Your Horoscope </title>
  </head>
  <body>
    <center>
      <h3> DIVINE YOUR FUTURE </h3> 
    <form method = "POST" action = "auth">
      <input type = "text" name = "NAME">
      <br> 
      <h4> Please enter your birthday! </h4> 
      <p> Month: </p> <input type = "number" name = "month" min = "1" max = "12"> 
      <br> 
      <p> Day: </p> <input type = "number" name = "day" min = "1" max = "31">
      <br> <br> 
      <input type = "submit" name = "sub">
    </form>
    </center> 
     <br>
  </body>
</html> 
